
@import url(./fonts.css);
	margin: 0;
	padding: 0;
	outline: 0;
}
a{
	text-decoration: none
}
.fix{
	overflow: hidden;
}
ul{
	margin-left: 40%;
}
ol{
	margin-left: 40%;
}

/*========End start Assignment1 css========*/

.img{
	width: 1000px;
	height: 600px;
	background-color:red;
	background: url('img/flag.png') no-repeat cover;
	overflow: hidden;
	display: block;
	z-index: 1000;
}
/*========End Assignment1 css========*/
/*------------------------------------------*/
/*====Start Assignment2 css======*/
.css-color{
	width: 100%;

}
.css-color h4{
	color: #DC4C3F;
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}
.css-color h4::after{
	content: "";
	width: 180px;
	height: 2px;
	background:#FF9F00;
	position: absolute;
	margin-top: 40px;
	margin-left: -10.5rem;
}
.hex-color{
	color: #b7ff00;
}
.rgb-color{
	color:rgb(0,47,255);
}
.rgba-color{
	color: rgba(0, 148, 50, 1);
}
.hsla-color{
	color: hsla(0, 100%, 29%, 0.26);
}
.bgclr h2{
	text-align: center;
	font-size: 40px;
	color: #fff;
	margin-top: 3rem;
}
.bgclr{
	background: #0061AA;
	width: 100%;
	overflow: hidden;
}
.bgimg{
	width: 80%;
	height: 400px;
	margin: 100px auto;
	background:url('../img/mypic.jpg') no-repeat;
	background-size:50vh;
	background-color: tomato;
	background-position: center;

}
.boder-section{
	width: 100%;
}
.border-section h2{
	text-align: center;
	font-size: 35px;
	color: tomato;
	margin-top: 2rem;
}
.border{
	width: 30%;
	margin: 1.5rem auto;
	height: 10rem;
	border-width: 10px 20px 25px 10px;
	border-style: dashed solid dotted double;
	border-color: tomato red blue green;

}
.outline{
	width:300px;
	height: 300px;
	margin: 100px auto;
	background:tomato;
	outline-width: 5px;
	outline-style: dotted;
	outline-offset: 20px;
}
.outline p{
	padding: 20px;
	text-align: center;
	text-align: justify;
}
.text{
	width: 100%;
	background: #ccc;
}
.text h2{
	text-align: center;
	margin-top: 2rem;
	font-size: 2rem;
	color: tomato;
}
.text-color{
	color: red;
	text-align: center;
	font-size: 50px;
	margin-top: 10px;
}
.text-align h2{
	text-align: right;
	color: tomato;
}
.text-align h3{
	text-align: left;
	color: blue;
	font-weight: 700;
	font-size: 2.5rem;
	text-shadow: 4px 5px 8px blue;
	text-transform: uppercase;
}
.text-align h4{
	text-align: center;
	font-size: 1.5rem;
	color: red;
	font-weight: 700;
	text-transform:capitalize;
}
.text-align p{
	text-align: justify;
	line-height: 40px;
	word-spacing: 10px;
	letter-spacing: 5px;
	text-transform: lowercase;
}
p.rtl{
	direction: rtl;
	color: red;
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.text-indent h1{
	text-align: center;
	color: blue;
}
.text-indent h2{
	color: red;
	border-bottom: 1px solid yellowgreen;
}
div .a{
	text-indent: 50px;
}
div .b{
	text-indent: -5em;
}
div .c{
	text-indent: 30%;
}
.abc{
	width:300px;
	height:300px;
	background: tomato;
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.hello{
	color: black;
	width: 50%;
	height: 50%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background:red;
	position: absolute;
}
.hello p{
	text-align: center;
	color: #fff;
	margin-top: 50%;
}
/*=====box shadow====*/
.box-shadow{
	width: 100%;
	background:#ddd;
}
.box{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	background: #000;
	margin-top:10%;
	margin-bottom: 10%;
	box-shadow: 10px 10px 10px red;
}
/*=====footer css====*/
.footer-area{
	width: 100%;
	overflow: hidden;
	background:#FF9F00;
}
.cp-text{ 
	color: rgba(0,0,0,.7); 
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/*====End Assignment2 css========*/
/*======= Assignment 3 start ======*/
/*=====icon=======*/
h2{
	text-align: center;
	font-size: 3rem;
	color: red;
}
 .icon{
 	text-align: center;
 	font-size: 3rem;
 	font-weight: 700;
 	color: red;

 }
 .icon::after{
 	content: "";
 	width: 110px;
 	height: 2px;
 	background:tomato;
 	position: absolute;
 	margin-top: 48px;
 	margin-left: -110px;
 }
.line-icons i{
	display: inline-block;
	margin-left: 10px;
	border-radius: 50%;
	padding:20px;
	color: #fff;
	background: tomato;
	text-align: center;
	font-size: 20px;
}
.fontawesome i{
	display: inline-block;
	margin-left: 10px;
	border-radius: 50%;
	padding:20px;
	color: #fff;
	background: tomato;
	text-align: center;
	font-size: 20px;
}
/*======positioncss=====*/
.position{
	width: 100%;
	height: 500px;
	background:#ccc;
	position: relative;
}
.img{
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
}
.img img{
	width: 100%;
	height: 100%;
}
/*====psedu elements===*/
.psedu-e{
	text-align: center;font-size: 3rem;
	color: red;

}
.psedu ul{
	text-align: center;
}
.psedu ul li:nth-child(2){
 color: blue;
 text-decoration: none;font-size: 2rem;
}
input::placeholder{
	color: red;
}
div + p{
	color: red;
}
/*===clear both css=====*/
.clear{
	width: 100%;

}
.clear h3{
	background: red;
	text-align: center;
	color: #fff;
}
.clear img{
	float: right;
	clear: both;
}
/*=====z-index css========*/
.z-index h3{
	text-align: center;
	color: red;
	font-size: 3rem;
}
.z-index{
	position: relative;
	width: 500px;
	border: 1px solid #000;
	margin: auto;
	height: 600px;
}
.box1{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: red;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	z-index: 3;
}
.box2{
	width: 200px;height: 200px;
	border-radius: 50%;
	background: yellow;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	z-index: 10;
	opacity: 0.5;
}
.box3{
	width: 200px;height: 200px;
	border-radius: 50%;
	background: blue;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	z-index: 6;
}
/*=====media queries=====*/
.media-queries{
	width: 100%;
}
.media-queries h3{
	text-align: center;
	font-size: 3rem;
	color: red;
	text-transform: capitalize;
}
.content1, .content2, .content3, .content4 p{
	padding: 5px;
}
.content1{
	width: 23%;float: left;
	background: #ccc;
	box-shadow: 3px 10px 5px #000;
	margin: 3px;
	background: red;
}
.content2{
	width: 23%;float: left;
	background: #ccc;
	box-shadow: 3px 10px 5px #000;
	margin: 3px;
	background: green;
}
.content3{
	width: 23%;float: left;
	background: #ccc;
	box-shadow: 3px 10px 5px #000;
	margin: 3px;
	background: blue;
}
.content4{
	width: 23%;float: left;
	background: #ccc;
	box-shadow: 3px 10px 20px #000;
	margin: 3px;
	background: yellow;
}
/*====gradient css======*/
.grdient{
	width: 100%;
}
.gradient h3{
	text-align: center;
	font-size: 2rem;
	color: red;
}
.gradient-box{
	width: 400px;
	height: 400px;
	margin: auto;
	/* background: linear-gradient(to top,yellow,red,green); */
	/* background: linear-gradient(red 50%, green 50%); */
	background: radial-gradient(red 50%, green 50%);

}
/*======Transform css========*/
.transform-area{
	width: 100%;
	position: relative;
}
.transform-area h3{
	text-align: center;
	font-size: 3rem;
	color: red;
	text-transform: capitalize;
}
.transform1{
	width: 200px;
	height: 200px;
	background:#000 url('../img/mypic.jpg') no-repeat center/cover;
    float: left;
    margin-left: 100px;
}
.transform2{
	width: 200px;
	height: 200px;
	background:#000 url('../img/mypic2.jpg') no-repeat center/cover;
	float: left;
	margin-left: 100px;

}
.transform3{
	width: 200px;
	height: 200px;
	background:#000 url('../img/flag.png') no-repeat center/cover;
	float: left;
	margin-left: 100px;

}
.transform4{
	width: 200px;
	height: 200px;
	background:#000 url('../img/mypic3.jpg') no-repeat center/cover;
	float: left;
	margin-left: 100px;

}
.transform1:hover{
	transform: rotate(180deg);
	transition: 2s;
}
.transform2:hover{
      transform: scale(0); 
	  transition: 2s;
}
.transform3:hover{
	  transform: skew(10deg, 20deg); 
	  transition: 2s;
}
/* .transform4:hover{
	  transform: translate(20px, -50px);
	  transition: 2s;
} */
.transform4:hover{
	width: 400px;
	transition:all ease-in-out 2s;
}
/*=======box sizing=======*/
.box-sizing{
	width: 600px;
	border: 1px solid blue;
	margin-top: 100px;
}
.box-sizing input{
   width: 100%;
   box-sizing: border-box;
}
/*========Animation Css========*/
.animation-area{
	width: 100%;
	height: 500px;
	background: #ddd;
}
.animation1{
	width: 100px;
	height: 100px;
	float: right;
	background: red;
	border-radius: 50%;
	animation-name: tabarul;
	animation-duration:4s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	position: relative;

}

@keyframes tabarul{
	0%{
		right: 0;
		top: 0;
		background: green;
	}	
	30%{
		right: 0;
		top: 400px;
		bottom: 0;
		background: yellow;
	}	
	50%{
		right: 300px;
		top: 400px;
		bottom: 0;
		background: tomato;
	}	
	70%{
		right: 300px;
		bottom: 300px;
		top: 0;
		background: tomato;
	}	
	100%{
		right: 0;
		top: 0;
		background: green;
	}

} 
.animation2{
	width: 200px;
	height: 200px;
	background: green;
	position: relative;
	animation-name: kaat;
	animation-duration:4s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

@keyframes kaat{
	0%{
		top: 0;
		left: 0;
		background: #000;
	}
	30%{
		top: 300px;
		bottom: 0;
		left: 0;
		background: #777;
	}
	50%{
		left: 300px;
		bottom: 0;
		top: 300px;
		background: red;
	}
	70%{
		bottom: 300px;
		left: 300px;
		top: 0;
		background: #888;
	}
	100%{
		left: 0;
		top: 0;
		background: #000;
	}
}
.animation3{
	width: 50px;
	height: 50px;
	top: 0;bottom: 0;left: 0;right: 0;
	margin: auto;
	background: red;
	border-radius: 50%;
	animation-name: kaatss;
	animation-duration:4s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	position: relative;
}
@keyframes kaatss{
	
	30%{
		left: 50%;
		background: #777;
	}

}
/*=======grid css=====*/
.grid-concept{
	width: 100%;
}
.grid-concept h3{
	text-align: center;
	font-size: 3rem;
	color: red;
	text-transform: capitalize;
}
.grid-area{
	/* grid-template-columns: auto auto; */
	 grid-template-columns: repeat(4,1fr); 
	/* grid-template-columns: 200px; */
	display: grid;
	/* grid-template-columns: 200px 300px 200px 200px; */
	overflow: hidden;
	column-gap:40px;
	row-gap: 10px;
}

.grid-item{
	background: #777;
	padding: 10px;
}
.grid-item:nth-child(2){
	background: red;
}
.grid-item:nth-child(1){
	grid-row-start:1;
	grid-row-end: 3;
}
.sprite-icon h3{
	text-align: center;
	font-size: 3rem;
	color: red;
	text-transform: capitalize;
}
.sprite-icon{
	width: 100%;
}
.sprite ul{
	margin-top: 30px;
	margin-bottom: 30px;
}
.sprite ul li{
	list-style-type: none;
	display: inline-block
}
.sprite ul li a{
	width: 80px;
	height: 80px;
	display: inline-block;
	background: url('../img/sprite.png') no-repeat;
	border: 1px solid tomato;
	transition: 1s;
}
.sprite ul li:nth-child(1) a{
	background-position: 0 0;
}
.sprite ul li:nth-child(2) a{
	background-position: -591px 0;
}
.sprite ul li:nth-child(3) a{
	background-position: -673px 0;
}
.sprite ul li:nth-child(4) a{
	background-position: -844px 0;
}
.sprite ul li:last-child a{
	background-position: -340px 0;
}

.sprite ul li:hover:nth-child(1) a{
	background-position: 0 -84px;
	border: none;
	border: 1px solid#305FB3;
}
.sprite ul li:hover:nth-child(2) a{
	background-position: -591px -84px;
	border: 1px solid#12C7EF;
}
.sprite ul li:hover:nth-child(3) a{
	background-position: -673px -84px;
	border: 1px solid#00D7D5;
}
.sprite ul li:hover:nth-child(4) a{
	background-position: -844px -84px;
	border: 1px solid#FF3333;
}
.sprite ul li:hover:last-child a{
	background-position: -340px -84px;
	border: 1px solid#3399CC;
}

.felx-area h3{
	text-align: center;
	font-size: 3rem;
	color: red;
	text-transform: capitalize;
}
.flex{
	display:flex;
	text-align: center;
    flex-wrap: nowrap;
}
.flex1{
	width: 50%;
	background: green;
	padding: 10px;
}
.flex2{
	width: 50%;
	background: blue;
	padding: 10px;
}
@media (max-width: 800px) {
	.flex{
	    flex-wrap: wrap;
	}
  .flex1, .flex2 {
    flex: 100%;
   flex-wrap: wrap;
  }
}
/*======= Assignment 3 end ======*/

/*jquery ui*/
.tabs{
	width: 80%;
	margin: 10rem auto;
	background: #000;
}
.tabs ul li a{
	padding: 1rem;
	display: block;
	font-size: 2rem;
}
.tabs .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background: yellowgreen;
	border: .1rem solid yellowgreen;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
	color: blue;
}
.tab-content p{
	color: #fff;
}
.ui-accordion .ui-accordion-header{
	font-size: 4rem;
}